# Ignore environment variable files (sensitive information)
.env

# Ignore Terraform state and backup files
*.tfstate
*.tfstate.backup

# Ignore Terraform lock files (contains dependency versions and hashes)
.terraform.lock.hcl

# Ignore Terraform working directory (stores modules and provider plugins)
.terraform/
